/*
 #0EB349: Green Pantone
 #0F75B3: Star Command Blue
 #520EB3: Purple
 */

/* Page-Specific General Properties */
h1 {
    font-size: 4em;
    margin: 0.5em 0 0 0;
}

h2 {
    margin: 0em 0.4em;
    margin-top: 0.75em;
}

/* Process Map */
body > h1 {
    padding: 0.25em 0em;
    min-width: 800px;
}

.map {
    max-width: 1200px;
    min-width: 800px;
    position: relative;
}

.map > img {
    padding: 3.33em 0em;
    width: 80%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overlay > * {
    position: absolute;
    margin: 0.1em;
    border-radius: 7.5px;
}

.overlay > img:hover {
    background-color: rgba(195, 195, 195, 0.5);
}

.a1 {
    top: max(min(37px, calc(57px - 2vw)), 33px);
    left: min(max(40px, 5vw), 60px);
    width: min(max(80px, 10vw), 120px);
}
.a2 {
    top: max(min(37px, calc(57px - 2vw)), 33px);
    left: min(max(264px, 33vw), 396px);
    width: min(max(80px, 10vw), 120px);
}
.a4 {
    top: max(min(23px, calc(55px - 4vw)), 7px);
    left: min(max(440px, 55vw), 660px);
    width: min(max(80px, 10vw), 120px);
}
.a5 {
    top: min(max(317px, calc(53px + 33vw)), 449px);
    left: min(max(40px, 5vw), 60px);
    width: min(max(80px, 10vw), 120px);
}
.a6 {
    top: min(max(317px, calc(53px + 33vw)), 449px);
    left: min(max(264px, 33vw), 396px);
    width: min(max(80px, 10vw), 120px);
}
.a7 {
    top: min(max(180px, calc(44px + 17vw)), 249px);
    left: min(max(400px, 50vw), 600px);
    width: min(max(80px, 10vw), 120px);
}
.a9 {
    top: min(max(180px, calc(44px + 17vw)), 249px);
    left: min(max(536px, 67vw), 804px);
    width: min(max(80px, 10vw), 120px);
}
.a10 {
    top: min(max(180px, calc(44px + 17vw)), 249px);
    left: min(max(688px, 86vw), 1032px);
    width: min(max(80px, 10vw), 120px);
}

/* Process Details */
#details > article {
    display: flex;
    padding: 0.25em 1em 0.25em 0.25em;
}

#details > article > div {
    padding-left: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.archive {
    flex-wrap: wrap;
    min-width: 135px;
    
}

.stations {
    max-width: 100px;
    padding: 0.25em;
    object-fit: contain;
}
