/*
 #0EB349: Green Pantone
 #0F75B3: Star Command Blue
 #520EB3: Purple
 */

/* General Properties */
h1 {font-size: 6.5em}
h2 {margin: 0px}
p {
    font-size: 1.15em;
    text-align: justify;
}

.img-wrapper {
    display: flex;
    align-items: center
    flex-shrink: 1.2;
    width: 3000px;
    margin: 0em 0.75em;
}

.img-wrapper > img {
    width: 100%;
    object-fit: contain;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0em 0.75em;
}

/* Banner: Title/Value Proposition*/

#banner > * {margin: 0em}
#banner > h3 {font-style: italic}

/* Mission: Problem Statement, Product and Description, Design Process: Assignment Links */
#mission, #product, #process {
    padding: 1.25em;
    display: flex;
}

/* Team: Description and Roles*/
#team {
    text-align: center;
}

#team > * {
    margin: 0.75em auto;
}

#team > article {
    display: flex;
    justify-content: space-evenly;
}

.desc {
    font-weight: normal;
    font-style: italic;
    font-size: 1.4em;
}

.profile > img {
    border-radius: 50%;
    margin: 0px 0px 10px 0px;
}
