/*
 #0EB349: Green Pantone
 #0F75B3: Star Command Blue
 #520EB3: Purple
 */

/* General Properties */
body {
    margin: 0em;
    font-family: "Avenir Next";
    min-width: 800px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 7.5em;
    color: #0EB349;
}
h2 {
    margin: 0px;
    font-size: 2.5em;
    color: #0EB349;
}
h3 {
    font-size: 1.75em;
    margin: 0;
}
p {
    font-size: 1.4em;
    text-align: justify;
}

.img-wrapper {
    display: flex;
    align-items: center
    flex-shrink: 1.2;
    width: 3000px;
    margin: 0em 0.75em;
}

.img-wrapper > img {
    width: 100%;
    object-fit: contain;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0em 0.75em;
}

/* Navigation Bar: Home, Product, and Development Pages */
#nav {
    background: #0F75B3;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

#nav > * {
    display: flex;
    justify-content: space-between;
}

.links {
    margin: 0em 1em 0em 1em;
    font-size: 1.75em;
    flex-shrink: 1;
}

/* Banner: Title/Value Proposition*/
#banner {
    text-align: center;
    margin: 2em 0em;
}

#banner > * {margin: 0em}
#banner > h3 {font-style: italic}

/* Mission: Problem Statement */
#mission {
    padding: 1.25em;
    display: flex;
}

/* Product and Description */
#product {
    padding: 1.25em;
    display: flex;
}

/* Design Process: Assignment Links */
#process {
    padding: 1.25em;
    display: flex;
}

/* Team: Description and Roles*/
#team {
    margin: 2em 0em;
    text-align: center;
}

#team > article {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 0em;
}

.desc {
    font-weight: normal;
    font-style: italic;
    font-size: 1.65em;
}

.profile > img {
    border-radius: 50%;
    margin: 0px 0px 10px 0px;
}

/* Footer */
footer {
    background-color: #0F75B3;
    padding: 0.5em 0.75em;
    color: white;
    font-style: italic;
}
